@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
body {
  font-family: "Inter", sans-serif;
  @apply min-w-md;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

.w-main {
  width: calc(100% - 14rem);
}

.h-main {
  height: calc(100% - 6rem);
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.item:hover .sub_item {
  @apply visible opacity-100 transition duration-500 ease-in-out;
}

.browseContainer:hover .browseName {
  @apply underline
}

.MuiSlider-track {
  @apply text-green-600;
}

.MuiSlider-thumb:hover {
  @apply text-green-400;
}